{% load static %}
<section id="contact-hb" class="section section-primary-2">
    <h2>צור קשר</h2>
    <hr class="hr-light">
    <div class="contact-content">
        <div class="newsletter">
            <h2>הירשם לניוזלטר שלנו</h2>
            <div class="newletter-input">
                <input type="text" placeholder="Email Address">
                <button class="subscribe btn-light">להירשם</button>
            </div>
        </div>
        <div class="social">
            <p><strong>אימייל : </strong><br>{{ content.email }}</p><br>
            <p><strong>נייד : </strong><br>{{ content.mobile }}</p><br>
            <p><strong>כתובת : </strong><br>{{ content.address }}</p>
        </div>
        <form id="contact-form">
            <h2>נהיה בקשר!</h2>
            <input type="hidden" name="contact_number"><br>
            <label>שֵׁם</label><br>
            <input type="text" name="user_name"><br>
            <label>אימייל</label><br>
            <input type="email" name="user_email"><br>
            <label>הוֹדָעָה</label><br>
            <textarea name="message"></textarea><br>
            <input class="submit btn-light" type="submit" value="Send">
        </form>
    </div>

    <p>האתר נבנה על ידי אלווין תומאס אלדהו</p>
    <p>© 2022 מגי הולידייס ישראל</p>
</section>

<marquee>
    סרטון מאת <a href="https://www.pexels.com/@jakoblundvall/">Jakob Lundvall</a>
    אייקונים שנעשו על ידי <a href="https://www.flaticon.com/authors/turkkub" title="טורקיקוב">turkkub</a>, <a
        href="https://www.freepik.com/" title="פריפיק">Freepik</a> ואת <a
        href="https://www.flaticon.com/authors/those-icons" title="הסמלים האלה">הסמלים האלה</a> מ <a
        href="https://www.flaticon.com/" title="פלאטיקון">www.flaticon.com</a> | <a
        href="https://www.freepik.com/free-vector/illustration-mediterranean-city-building-exterior-water-color-style_2615570.htm#query=israel&amp;position=1&amp;from_view=search&amp;track=sph">תמונה
        על ידי rawpixel.com</a> ב פריפיק |
    <a
        href="https://www.freepik.com/free-vector/illustration-mediterranean-city-building-exterior-water-color-style_2615568.htm#query=israel&amp;position=4&amp;from_view=search&amp;track=sph">תמונה
        על ידי rawpixel.com על</a> פריפיק |
    <a
        href="https://www.freepik.com/free-vector/illustration-mediterranean-city-building-exterior-water-color-style_2615574.htm#query=israel&amp;position=3&amp;from_view=search&amp;track=sph">תמונה
        על ידי rawpixel.com על</a> פריפיק |
    <a
        href="https://www.freepik.com/free-vector/mediterranean-city-building-exterior-water-color-style_2583256.htm#query=israel&amp;position=16&amp;from_view=search&amp;track=sph">תמונה
        על ידי rawpixel.com על</a> פריפיק |
    צילום: <a href="https://www.pexels.com/photo/milky-way-on-blue-starry-sky-2232979/">Dương Nhân</a> |
    <a
        href="https://www.freepik.com/free-vector/sparkling-stars-shiny-sparks-glitter-light-star-sparkle-elements_10722776.htm#query=star&amp;position=3&amp;from_view=search&amp;track=sph">תמונה
        על ידי tartila על</a> פריפיק |
    אייקונים שנעשו על ידי <a href="https://www.flaticon.com/authors/gregor-cresnar" title="גרגור קרסנר">גרגור
        קרסנר</a> מבית <a href="https://www.flaticon.com/" title="פלאטיקון">www.flaticon.com</a> | <a
        href="https://www.freepik.com/free-vector/group-children-inspects-stand-with-space-rocket-shuttle-school-tour-science-exhibition-modern-astronomy-museum_24758454.htm#&amp;position=0&amp;from_view=collections">תמונה
        על ידי studio4rt על</a> פריפיק | <a
        href="https://www.freepik.com/free-vector/children-art-museum-kids-looking-painting-with-portrait-frame-wall-vector-illustration-school-excursion-scene-with-instructor-guide-teaching-boy-girl-listening_25273255.htm#&amp;position=1&amp;from_view=collections">תמונה
        על ידי studio4rt על</a> פריפיק | <a
        href="https://www.freepik.com/free-vector/isometric-cinema-elements-concept_4324804.htm#&amp;position=2&amp;from_view=collections">תמונה
        על ידי macrovector על</a> Freepik | <a
        href="https://www.freepik.com/free-vector/red-blue-air-tickets_15226640.htm#&amp;position=3&amp;from_view=collections">תמונה
        על ידי rawpixel.com</a> ב פריפיק | תמונה מאת <a
        href="https://www.freepik.com/free-vector/flat-adventure-background-with-mountains_16534142.htm#&amp;position=4&amp;from_view=collections">פריפיק</a>
    | <a
        href="https://www.freepik.com/free-vector/traveling-concept-illustration_8793219.htm#&amp;position=5&amp;from_view=collections">תמונה
        על ידי storyset על</a> Freepik | <a
        href="https://www.freepik.com/free-vector/back-view-couple-deck-cruise-ship-man-woman-sailing-boat-romantic-seascape-flat-vector-illustration-vacation-romance-leisure-concept-banner-website-design-landing-web-page_29119022.htm#&amp;position=6&amp;from_view=collections">תמונה
        על ידי pch.vector על</a> פריפיק | <a
        href="https://www.freepik.com/free-vector/employees-meeting-office-kitchen-drinking-coffee_7732610.htm#&amp;position=7&amp;from_view=collections">תמונה
        על ידי pch.vector על</a> Freepik | תמונה מאת <a
        href="https://www.freepik.com/free-vector/hand-drawn-flat-design-al-aqsa-illustration_22539912.htm#&amp;position=8&amp;from_view=collections">פריפיק</a>
    | <a
        href="https://www.freepik.com/free-vector/airport-runway-concept-illustration_27638202.htm#&amp;position=9&amp;from_view=collections">תמונה
        על ידי סיפור על</a> Freepik
</marquee>