{% load static %}
<section id="contact-en" class="section section-primary-2">
    <h2>Contact Us</h2>
    <hr class="hr-light">
    <div class="contact-content">
        <div class="newsletter">
            <h2>Subscribe to our Newsletter</h2>
            <div class="newletter-input">
                <input type="text" placeholder="Email Address">
                <button class="subscribe btn-light">Subscribe</button>
            </div>
        </div>
        <div class="social">
            <p><strong>Email : </strong><br>{{ content.email }}</p><br>
            <p><strong>Mobile : </strong><br>{{ content.mobile }}</p><br>
            <p><strong>Address : </strong><br>{{ content.address }}</p>
        </div>
        <form id="contact-form">
            <h2>Get in touch!</h2>
            <input type="hidden" name="contact_number"><br>
            <label>Name</label><br>
            <input type="text" name="user_name"><br>
            <label>Email</label><br>
            <input type="email" name="user_email"><br>
            <label>Message</label><br>
            <textarea name="message"></textarea><br>
            <input class="submit btn-light" type="submit" value="Send">
        </form>
    </div>

    <!-- <p>Website crafted by Elviin Thomas Eldho</p> -->
    <p>© 2023 Magi Holidays Israel</p>
</section>

<marquee>
    Video by <a href="https://www.pexels.com/@jakoblundvall/">Jakob Lundvall</a>
    Icons made by <a href="https://www.flaticon.com/authors/turkkub" title="turkkub">turkkub</a>, <a
        href="https://www.freepik.com" title="Freepik">Freepik</a> and <a
        href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from <a
        href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> | <a
        href="https://www.freepik.com/free-vector/illustration-mediterranean-city-building-exterior-water-color-style_2615570.htm#query=israel&position=1&from_view=search&track=sph">Image
        by rawpixel.com</a> on Freepik |
    <a
        href="https://www.freepik.com/free-vector/illustration-mediterranean-city-building-exterior-water-color-style_2615568.htm#query=israel&position=4&from_view=search&track=sph">Image
        by rawpixel.com</a> on Freepik |
    <a
        href="https://www.freepik.com/free-vector/illustration-mediterranean-city-building-exterior-water-color-style_2615574.htm#query=israel&position=3&from_view=search&track=sph">Image
        by rawpixel.com</a> on Freepik |
    <a
        href="https://www.freepik.com/free-vector/mediterranean-city-building-exterior-water-color-style_2583256.htm#query=israel&position=16&from_view=search&track=sph">Image
        by rawpixel.com</a> on Freepik |
    Photo by <a href="https://www.pexels.com/photo/milky-way-on-blue-starry-sky-2232979/">Dương Nhân</a> |
    <a
        href="https://www.freepik.com/free-vector/sparkling-stars-shiny-sparks-glitter-light-star-sparkle-elements_10722776.htm#query=star&position=3&from_view=search&track=sph">Image
        by tartila</a> on Freepik |
    Icons made by <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor
        Cresnar</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> | <a
        href="https://www.freepik.com/free-vector/group-children-inspects-stand-with-space-rocket-shuttle-school-tour-science-exhibition-modern-astronomy-museum_24758454.htm#&position=0&from_view=collections">Image
        by studio4rt</a> on Freepik | <a
        href="https://www.freepik.com/free-vector/children-art-museum-kids-looking-painting-with-portrait-frame-wall-vector-illustration-school-excursion-scene-with-instructor-guide-teaching-boy-girl-listening_25273255.htm#&position=1&from_view=collections">Image
        by studio4rt</a> on Freepik | <a
        href="https://www.freepik.com/free-vector/isometric-cinema-elements-concept_4324804.htm#&position=2&from_view=collections">Image
        by macrovector</a> on Freepik | <a
        href="https://www.freepik.com/free-vector/red-blue-air-tickets_15226640.htm#&position=3&from_view=collections">Image
        by rawpixel.com</a> on Freepik | Image by <a
        href="https://www.freepik.com/free-vector/flat-adventure-background-with-mountains_16534142.htm#&position=4&from_view=collections">Freepik</a>
    | <a
        href="https://www.freepik.com/free-vector/traveling-concept-illustration_8793219.htm#&position=5&from_view=collections">Image
        by storyset</a> on Freepik | <a
        href="https://www.freepik.com/free-vector/back-view-couple-deck-cruise-ship-man-woman-sailing-boat-romantic-seascape-flat-vector-illustration-vacation-romance-leisure-concept-banner-website-design-landing-web-page_29119022.htm#&position=6&from_view=collections">Image
        by pch.vector</a> on Freepik | <a
        href="https://www.freepik.com/free-vector/employees-meeting-office-kitchen-drinking-coffee_7732610.htm#&position=7&from_view=collections">Image
        by pch.vector</a> on Freepik | Image by <a
        href="https://www.freepik.com/free-vector/hand-drawn-flat-design-al-aqsa-illustration_22539912.htm#&position=8&from_view=collections">Freepik</a>
    | <a
        href="https://www.freepik.com/free-vector/airport-runway-concept-illustration_27638202.htm#&position=9&from_view=collections">Image
        by storyset</a> on Freepik
</marquee>